/* &display=swap */
@import "null.css";
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap);

body{
max-width: 800px;
font-family: Lato;
font-size: 16px;
line-height: 1.6;
}

h1{
	font-weight: 900;
	font-size: 46px;
	line-height: 1.3;
}

.black-one{
	color: #1E212C;
	font-weight: 700;
	line-height: 1.5;
	font-size: 20px;
}
.black-two{
	color: #1E212C;
	font-weight: 700;
	line-height: 1.5;
	font-size: 20px;
}
.citate{
	text-align: right;
}
li{
	line-height: 1.6;
}